
 body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
body {
        margin: 0;
        padding: 0;
      }


/* styling for the legend */
.legend {
position: absolute;
width: 320px;
margin: 5px;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
background-color: white;
font: 12px Arial, sans-serif;
}

.legend h4 {
margin: 0 0 10px;
}

/* styling for the circles */
.legend-circle {
border-radius: 50%;
display: inline-block;
margin-right: 10px;
}



/* sets the specifics for the building height text */
.transport-mode span {
margin: 3px;
display: inline-block;
vertical-align: middle;
font: 12px Arial, sans-serif;
}

/* text decoration for links */
a {
text-decoration: none;
color: #2dc4b2;
}

/* slight padding for the radio button menu */
.mainmenu {
padding-bottom: 10px;
}

#mainmenu {
background: #fff;
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

#mainmenu a {
border: 1px solid rgba(0,0,0,0.4);
border-radius: 3px;
font-size: 13px;
color: #404040;
display: inline;
margin: 12.5px;
padding: 0;
padding: 10px;
text-decoration: none;
text-align: center;
margin-left: 0px;
margin-right: 10px;
}

#mainmenu a:last-child {

}

#mainmenu a:hover {
background-color: #f8f8f8;
color: #404040;
}

#mainmenu a.active {
background-color: #3887be;
color: #ffffff;
}

#mainmenu a.active:hover {
background: #3074a4;
}

#transportroutes {
background: #fff;
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

#transportroutes a {
border: 1px solid rgba(0,0,0,0.4);
border-radius: 3px;
font-size: 13px;
color: #404040;
display: inline;
margin: 12.5px;
padding: 0;
padding: 10px;
text-decoration: none;
text-align: center;
margin-left: 0px;
margin-right: 10px;
}

#transportroutes a:last-child {

}

#transportroutes a:hover {
background-color: #f8f8f8;
color: #404040;
}

#transportroutes a.active {
background-color: #3887be;
color: #ffffff;
}

#transportroutes a.active:hover {
background: #3074a4;

}

#mapplaces {
background: #fff;
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

#mapplaces a {
border: 1px solid rgba(0,0,0,0.4);
border-radius: 3px;
font-size: 13px;
color: #404040;
display: inline;
margin: 12.5px;
padding: 0;
padding: 10px;
text-decoration: none;
width: 120px;
text-align: center;
margin-left: 0px;
margin-right: 10px;
}

#mapplaces a:last-child {

}

#mapplaces a:hover {
background-color: #f8f8f8;
color: #404040;
}

#mapplaces a.active {
background-color: #3887be;
color: #ffffff;
}

#mapplaces a.active:hover {
background: #3074a4;

.myChartContainer{

	color:white !important;


}
.Chart{
	display: block !important;
    position: absolute;
    height: 200px !important;
    width: 400px !important;
	margin-left: 870px !important;
	margin-top: 10px !important;
	background-color:white !important;
}

/* sets the specifics for the status text */

.crash-severity span {
  margin-left: 5px;
  display: inline-block;
  font: 12px Arial, sans-serif;
}

/* sets the specifics for the building height text */

.crash-casualty span {
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
  font: 12px Arial, sans-serif;
}


#filterStations {

    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 25px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

#filterStations a {
	font-size: 13px;
	color: #404040;
	display: inline;
	margin: 12.5px;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	width: 120px;
	text-align: center;
    background-color:#f0f9e8;
}

#filterStations a:last-child {
border: none;
}

#filterStations a:hover {
background-color: #f8f8f8;
color: black;
}

#filterStations a.active {
background-color: #bae4bc;
color: black;
}

#filterStations a.active:hover {
background:#f0f0f0;
}

/* slight padding for the radio button menu */
