
 body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


/* Main container for controls */
.mainmenu {
  position: absolute;
  width: 320px;
  margin: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: white;
  font: 13px Helvetica, sans-serif;
  }

}
/* styling for the legend */
.legend {
position: absolute;
margin: 5px;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
background-color: white;
font: 12px Arial, sans-serif;
}

.mainmenu h4 {
margin: 0 0 10px;
}

/* styling for the circles */
.legend-circle {
border-radius: 50%;
display: inline-block;
margin-right: 10px;
}



/* sets the specifics for the building height text */
.transport-mode span {
margin: 3px;
display: inline-block;
vertical-align: middle;
font: 12px Arial, sans-serif;
}

/* text decoration for links */
a {
text-decoration: none;
color: #2dc4b2;
}



/* Styling the stops filter */
#transportStops {
background: #fff;
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

#transportStops a {
border: 1px solid rgba(0,0,0,0.4);
border-radius: 3px;
font-size: 13px;
color: #404040;
display: inline;
margin: 12.5px;
padding: 0;
padding: 10px;
text-decoration: none;
text-align: center;
margin-left: 0px;
margin-right: 10px;
}

#transportStops a:last-child {

}

#transportStops a:hover {
background-color: #f8f8f8;
color: #404040;
}

#transportStops a.active {
background-color: #3887be;
color: #ffffff;
}

#transportStops a.active:hover {
background: #3074a4;
}


/* Styling the routes filter */
#transportRoutes {
background: #fff;
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

#transportRoutes a {
border: 1px solid rgba(0,0,0,0.4);
border-radius: 3px;
font-size: 13px;
color: #404040;
display: inline;
margin: 12.5px;
padding: 0;
padding: 10px;
text-decoration: none;
text-align: center;
margin-left: 0px;
margin-right: 10px;
}

#transportRoutes a:last-child {

}

#transportRoutes a:hover {
background-color: #f8f8f8;
color: #404040;
}

#transportRoutes a.active {
background-color: #3887be;
color: #ffffff;
}

#transportRoutes a.active:hover {
background: #3074a4;

}

/* Styling the places filter */
#mapplaces {
background: #fff;
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

#mapplaces a {
border: 1px solid rgba(0,0,0,0.4);
border-radius: 3px;
font-size: 13px;
color: #404040;
display: inline;
margin: 12.5px;
padding: 0;
padding: 10px;
text-decoration: none;
width: 120px;
text-align: center;
margin-left: 0px;
margin-right: 10px;
}

#mapplaces a:last-child {

}

#mapplaces a:hover {
background-color: #f8f8f8;
color: #404040;
}

#mapplaces a.active {
background-color: #3887be;
color: #ffffff;
}

#mapplaces a.active:hover {
background: #3074a4;


/* sets the specifics for the building height text */

.transport-mode span {
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}
